---
layout: page
---
<h1>Docs</h1>
<div>
  <h2>General Docs</h2>
  {% for page in site.pages %}
  {% if page.title == "Technical Overview" %}
    <div>

        <a class="post-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% if page.author %}
          <br/> By <span class="post-auth">{{page.author}}</span>
        {% endif %}
        {% if page.description %}
          <br/> <span class="post-desc">{{page.description}}</span>
        {% endif %}
        <br/>
        <br/>
    </div>
    {% endif %}
  {% endfor %}
  <h2>Data Schemas</h2>
  {% for page in site.pages %}
  {% if page.category == "docs-data-schema" %}
    <div>


        <a class="post-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% if page.author %}
          <br/> By <span class="post-auth">{{page.author}}</span>
        {% endif %}
        {% if page.description %}
          <br/> <span class="post-desc">{{page.description}}</span>
        {% endif %}
        <br/>
        <br/>
    </div>
    {% endif %}
    {% endfor %}
    <h2>Miscellaneous</h2>
    {% for page in site.pages %}
    {% if page.category == "docs-misc" %}
      <div>
          <a class="post-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% if page.author %}
            <br/> By <span class="post-auth">{{page.author}}</span>
          {% endif %}
          {% if page.description %}
            <br/> <span class="post-desc">{{page.description}}</span>
          {% endif %}
          <br/>
          <br/>
      </div>
      {% endif %}
      {% endfor %}
      <h2>Tutorials</h2>
      {% for page in site.pages %}
      {% if page.category == "docs-tutorials" %}
      <div>
          <a class="post-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% if page.author %}
            <br/> By <span class="post-auth">{{page.author}}</span>
          {% endif %}
          {% if page.description %}
            <br/> <span class="post-desc">{{page.description}}</span>
          {% endif %}
          <br/>
          <br/>
      </div>
      {% endif %}
      {% endfor %}

</div>
