<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ site.title }}</h1>
        <div class="navbar">
        <h3><a href="/">Community Home</a></h3>
        <h3><a href="http://scta.info">scta.info</a></h3>
        </div>
        <div class="navbar">
        <hr/>
        <h3><a href="/leadership">Leadership</a></h3>
        <h3><a href="/pages/docs">Documentation</a></h3>
        <h3><a href="/pages/policies">Policies</a></h3>
        <h3><a href="/pages/blog">Blog</a></h3>
        <h3><a href="/pages/events">Events</a></h3>
        <!-- <h3><a href="/pages/faq">FAQs</a></h3> -->
        <h3><a href="/members">Members</a></h3>
        <h3><a href="/donate">Donate</a></h3>
        </div>
        <div id="recent">
          <hr/>
          <h2>Recent Articles</h2>
            {% for post in site.posts limit:3 %}
              <div>
                <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
                  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                  <br/>
                  <br/>
              </div>
            {% endfor %}
        </div>
      </header>

      <section>

      {{ content }}

      </section>
      <footer>
      An <a href="http://scta.info">SCTA</a> Project
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>



  </body>
</html>
